.button {
    border-radius: var(--step--2);
    padding: var(--step--1);
    background-color: var(--primary-color);
    border: 0.2rem solid var(--primary-color);;
    color: var(--background);
    font-weight: 700;
    text-transform: uppercase;
    transition: transform 0.3s ease-out;
    width: 100%;
    &:hover {
        transform: scale(1.05);
    }
    &.shadow {
        transition: box-shadow 0.3s ease-out;
        transform: none;
        &:hover {
            box-shadow: 
                0 0 var(--step-1) var(--primary-color),
                0 0 var(--step-3) var(--primary-color);
        }
    }
}