*,
*::before,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: transparent;
}

body {
    background-color: var(--background);
    color: var(--text);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root main {
    flex-grow: 1;
}

main {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main > section {
    width: 100%;
    flex-grow: 1;
    padding: var(--step-1);
}

a,
button,
input,
label,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-size: var(--step-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-4);
}

h3 {
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2);
}

h5, 
p {
    font-size: var(--step-1);
}

hr {
    width: 90%;
}

button,
input[type="submit"] {
    cursor: pointer;
}

svg {
    width: 100%;
    fill: currentColor;
    pointer-events: none;
}
